[submodule "delfin"]
	path = pkg/delfin
	url = git@github.com:sodafoundation/delfin.git
[submodule "api"]
	path = pkg/api
	url = git@github.com:sodafoundation/api.git
[submodule "controller"]
	path = controller
	url = git@github.com:sodafoundation/controller.git
[submodule "nbp"]
	path = nbp
	url = git@github.com:sodafoundation/nbp.git
[submodule "dock"]
	path = dock
	url = git@github.com:sodafoundation/dock.git
[submodule "orchestration"]
	path = orchestration
	url = git@github.com:sodafoundation/orchestration.git
[submodule "anomaly-detection"]
	path = anomaly-detection
	url = git@github.com:sodafoundation/anomaly-detection.git
[submodule "installer"]
	path = installer
	url = git@github.com:sodafoundation/installer.git
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:sodafoundation/dashboard.git
